.what-people-bg {
  background: #F7F8FC;
}

.what-people {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.what-people div {
  flex: 1 1 200px;
}

.what-people h2 {
  font-family: "Velkhov", serif;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
  text-align: left;
}

.what-people quote {
  font-size: 18px;
  color: #666666;
  margin-bottom: 50px;
}

.what-people h2 > span {
  color: #FA7436;
}

.comment {
  padding: 30px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .1);
  max-width: 50ch;
  position: relative;
  align-self: flex-start;
}

.comment::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 68px;
  height: 68px;
  background: url('../img/profile-pic.svg');
  top: -40px;
  left: -35px;
}

.comment span {
  display: block;
  font-weight: 700;
  margin-top: 20px;
}

.quote {
  line-height: 1.9;
}


@media (max-width: 650px) {
  .what-people {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .what-people quote {
    font-size: 16px;
  }

  .comment {
    max-width: 100%;
  }
}